<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bogus" version="25.0.3" targetFramework="net472" />
  <package id="LiteDB" version="5.0.13" targetFramework="net472" />
  <package id="Microsoft.Toolkit.Wpf.UI.Controls" version="5.0.1" targetFramework="net472" />
  <package id="Microsoft.Toolkit.Wpf.UI.XamlHost" version="5.0.1" targetFramework="net472" />
</packages>